.student-collection{
    display:flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    align-items: center;
    justify-content: center;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid lightgray;
    margin-top: 2px;
}

.student-collection__info{
    margin-right: 10px;
}

.student-collection--controls{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}